@font-face {
    font-family: 'StarWars';
    src: url('Resourses/SF\ Distant\ Galaxy\ AltOutline.ttf');
}

html {
    background-image: url('Resourses/stars.jpg');
    font-family:'StarWars';
    height: 100%;
} 
body {
    color: white;
    text-align: center;
    margin-top: 100px; 
    height: inherit;
}
div#name {
    font-size: 8vw;
}

div#course {
   font-size: 6vw; 
}

section.projects-container {
    display: grid;
    grid-template-columns: auto auto;
    height: 50%;
    gap: 5px;
    margin-top: 40px;
   
}
button {
    font-family: 'StarWars';
    color: white;
    background: transparent;
    font-size: calc(10px + 1vw);
    border: 2px solid gray;
    border-radius: 10px;
    width: 40%;
    height: 80%;
    justify-self: center;

}
button:hover {
    cursor: pointer;
}

#pro1:hover {
    box-shadow: inset 0 0 3vw green, 0 0 10px -2px white;
}
#pro2:hover {
    box-shadow: inset 0 0 3vw blue, 0 0 10px -2px white;
}
#pro3:hover {
    box-shadow: inset 0 0 3vw purple, 0 0 10px -2px white;
}
#pro4:hover {
    box-shadow: inset 0 0 3vw red, 0 0 10px -2px white;
}